<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('admin.admin_dashboard') }}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-briefcase"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Admin</div>
    </a>

    <hr class="sidebar-divider my-0">

    <li class="nav-item {% if request.path.rstrip('/') == url_for('admin.admin_dashboard').rstrip('/') %}active{% endif %}">
        <a class="nav-link" href="{{ url_for('admin.admin_dashboard') }}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Bảng điều khiển</span>
        </a>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Quản lý chung
    </div>

    {% set user_active = request.path.startswith(url_for('admin.user_list')[:-1]) or request.path.startswith(url_for('admin.user_add')[:-1]) %}
    <li class="nav-item {% if user_active %}active{% endif %}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsers"
           aria-expanded="{{ 'true' if user_active else 'false' }}" aria-controls="collapseUsers">
            <i class="fas fa-users"></i>
            <span>Tài khoản</span>
        </a>
        <div id="collapseUsers" class="collapse {% if user_active %}show{% endif %}" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item {% if request.path == url_for('admin.user_list') %}active{% endif %}" href="{{ url_for('admin.user_list') }}">Danh sách</a>
                <a class="collapse-item {% if request.path == url_for('admin.user_add') %}active{% endif %}" href="{{ url_for('admin.user_add') }}">Thêm mới</a>
            </div>
        </div>
    </li>

    {% set recruiter_active = request.path.startswith(url_for('admin.recruiter_list')[:-1]) or request.path.startswith(url_for('admin.recruiter_add')[:-1]) %}
    <li class="nav-item {% if recruiter_active %}active{% endif %}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRecruiters"
           aria-expanded="{{ 'true' if recruiter_active else 'false' }}" aria-controls="collapseRecruiters">
            <i class="fas fa-user-tie"></i>
            <span>Cộng tác viên</span>
        </a>
        <div id="collapseRecruiters" class="collapse {% if recruiter_active %}show{% endif %}" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item {% if request.path == url_for('admin.recruiter_list') %}active{% endif %}" href="{{ url_for('admin.recruiter_list') }}">Danh sách</a>
                <a class="collapse-item {% if request.path == url_for('admin.recruiter_add') %}active{% endif %}" href="{{ url_for('admin.recruiter_add') }}">Thêm mới</a>
            </div>
        </div>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Quản lý Tuyển dụng
    </div>

    {# -------------------------------------------------------------------------------------------------------------------------------- #}
    {% set advanced_job_routes = [url_for('admin.job_pending_list'), url_for('admin.job_featured_list'), url_for('admin.job_analytics')] %}
    {% set post_management_active = request.path in advanced_job_routes or 'jobs/pending' in request.path or 'jobs/featured' in request.path or 'jobs/analytics' in request.path or 'jobs/reject' in request.path %}
    
    {% set is_job_list_or_add = request.path.startswith(url_for('admin.job_list')[:-1]) or request.path.startswith(url_for('admin.job_add')[:-1]) or 'jobs/edit' in request.path %}
    {% set job_active = is_job_list_or_add and not post_management_active %}
    
    <li class="nav-item {% if job_active %}active{% endif %}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseJobs"
           aria-expanded="{{ 'true' if job_active else 'false' }}" aria-controls="collapseJobs">
            <i class="fas fa-newspaper"></i>
            <span>Tin tuyển dụng</span>
        </a>
        <div id="collapseJobs" class="collapse {% if job_active %}show{% endif %}" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item {% if request.path == url_for('admin.job_list') %}active{% endif %}" href="{{ url_for('admin.job_list') }}">Danh sách</a>
                <a class="collapse-item {% if request.path == url_for('admin.job_add') %}active{% endif %}" href="{{ url_for('admin.job_add') }}">Thêm mới</a>
            </div>
        </div>
    </li>

    <li class="nav-item {% if post_management_active %}active{% endif %}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePostManagement"
           aria-expanded="{{ 'true' if post_management_active else 'false' }}" aria-controls="collapsePostManagement">
            <i class="fas fa-tasks"></i>
            <span>Duyệt & Tối ưu Tin</span>
        </a>
        <div id="collapsePostManagement" class="collapse {% if post_management_active %}show{% endif %}" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item {% if 'jobs/pending' in request.path %}active{% endif %}" href="{{ url_for('admin.job_active_list') }}">
                    <i class="fas fa-hourglass-half"></i> Chờ phê duyệt
                </a>
                <a class="collapse-item {% if 'jobs/featured' in request.path %}active{% endif %}" href="{{ url_for('admin.job_featured_list') }}">
                    <i class="fas fa-star"></i> Tin Nổi Bật
                </a>
                <a class="collapse-item {% if 'jobs/analytics' in request.path %}active{% endif %}" href="{{ url_for('admin.job_analytics') }}">
                    <i class="fas fa-chart-line"></i> Báo cáo
                </a>
            </div>
        </div>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Quản lý CV
    </div>
    {% set cv_active = request.path.startswith(url_for('admin.template_cv_list')[:-1]) or request.path.startswith(url_for('admin.add_template_cv')[:-1]) %}

    <li class="nav-item {% if cv_active %}active{% endif %}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCV"
        aria-expanded="{{ 'true' if cv_active else 'false' }}" aria-controls="collapseCV">
            <i class="fas fa-id-card"></i>
            <span>CV Mẫu</span>
        </a>
        <div id="collapseCV" class="collapse {% if cv_active %}show{% endif %}" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item {% if request.path == url_for('admin.template_cv_list') %}active{% endif %}" href="{{ url_for('admin.template_cv_list') }}">
                    <i class="fas fa-list"></i> Danh sách
                </a>
                <a class="collapse-item {% if request.path == url_for('admin.add_template_cv') %}active{% endif %}" href="{{ url_for('admin.add_template_cv') }}">
                    <i class="fas fa-plus"></i> Thêm mới
                </a>
            </div>
        </div>
    </li>

    <div class="sidebar-heading">
    Quản lý User
</div>

{% set roles_active = request.path.startswith('/admin/users') %}
<li class="nav-item {% if roles_active %}active{% endif %}">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRoles"
        aria-expanded="{{ 'true' if roles_active else 'false' }}" aria-controls="collapseRoles">
        <i class="fas fa-users"></i>
        <span>Users</span>
    </a>
    <div id="collapseRoles" class="collapse {% if roles_active %}show{% endif %}" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item {% if request.path == url_for('admin.user_list') %}active{% endif %}" 
               href="{{ url_for('admin.user_list') }}">
               <i class="fas fa-list"></i> Danh sách
            </a>

            <a class="collapse-item {% if request.path.startswith('/admin/users/') and request.path.endswith('/change-role') %}active{% endif %}" 
               href="{{ url_for('admin.change_role', user_id=1) }}"> 
               <i class="fas fa-user-edit"></i> Thay đổi Role
            </a>

            <a class="collapse-item {% if request.path.startswith('/admin/users/') and request.path.endswith('/permissions') %}active{% endif %}" 
               href="{{ url_for('admin.manage_user_permissions', user_id=1) }}"> 
               <i class="fas fa-shield-alt"></i> Phân quyền
            </a>
        </div>
    </div>
</li>




    <hr class="sidebar-divider d-none d-md-block">

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>