<!doctype html>
<html class="no-js" lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ job.title }} - Trang Tuyển Dụng</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index/css/flaticon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index/css/price_rangs.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index/css/slicknav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index/css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index/css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index/css/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index/css/slick.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index/css/nice-select.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index/css/style.css') }}">
</head>

<body>
    <!-- header-start -->
    <!-- header-end -->

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>{{ job.title }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="job_details_header">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div class="thumb">
                                    <img src="{{ url_for('static', filename='index/img/job-info-svgrepo-com.svg') }}" alt="">
                                </div>
                                <div class="jobs_conetent">
                                    <a href="#"><h4>{{ job.title }}</h4></a>
                                    <div class="links_locat d-flex align-items-center">
                                        <div class="location">
                                            <p> <i class="fa fa-map-marker"></i> {{ job.location }}</p>
                                        </div>
                                        <div class="location">
                                            <p> <i class="fa fa-clock-o"></i> {{ job.job_type }}</p>
                                        </div>
                                    </div>
                                    <div>
                                        <small>Đăng bởi: {{ job.created_by_user.full_name }}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="jobs_right">
                                <div class="apply_now">
                                    <a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="descript_wrap white-bg">
                        <div class="single_wrap">
                            <h4>Mô tả công việc</h4>
                            <p>{{ job.description }}</p>
                        </div>
                        <div class="single_wrap">
                            <h4>Trách nhiệm công việc</h4>
                            {% if job.responsibilities %}
                            <ul>
                            {% for r in job.responsibilities.split('\n') %}
                                <li>{{ r }}</li>
                            {% endfor %}
                            </ul>
                            {% else %}
                                <p>Chưa có thông tin trách nhiệm công việc.</p>
                            {% endif %}
                        </div>
                        <div class="single_wrap">
                            <h4>Yêu cầu/Trình độ</h4>
                            <ul>
                                {% for q in job.requirements.split('\n') %}
                                    <li>{{ q }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="single_wrap">
                            <h4>Quyền lợi</h4>
                            {% if job.responsibilities %}
                                <ul>
                                {% for r in job.resonsibilities.split('\n') %}
                                    <li>{{ r }}</li>
                                {% endfor %}
                                </ul>
                            {% else %}
                                <p>Chưa có.</p>
                            {% endif %}

                        </div>
                    </div>

                    <div class="apply_job_form white-bg">
                        <h4>Nộp hồ sơ</h4>
                        <form action="{{ url_for('main.apply_job', job_id=job.id) }}" method="POST" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input_field">
                                        <input type="text" name="name" placeholder="Họ và tên" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input_field">
                                        <input type="email" name="email" placeholder="Email" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input_field">
                                        <input type="text" name="portfolio" placeholder="Website/Portfolio (nếu có)">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input_field">
                                        <input type="file" name="cv" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input_field">
                                        <textarea name="coverletter" cols="30" rows="10" placeholder="Thư xin việc"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="submit_btn">
                                        <button class="boxed-btn3 w-100" type="submit">Nộp hồ sơ ngay</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

                <div class="col-lg-4">
                    <div class="job_sumary">
                        <div class="summery_header">
                            <h3>Tóm tắt công việc</h3>
                        </div>
                        <div class="job_content">
                            <ul>
                                <li>Ngày đăng: <span>{{ job.created_at.strftime('%d %b, %Y') }}</span></li>
                                <li>Số lượng tuyển: <span>{{ job.vacancy }}</span></li>
                                <li>Mức lương: <span>{{ job.salary_range }}</span></li>
                                <li>Địa điểm: <span>{{ job.location }}</span></li>
                                <li>Loại công việc: <span>{{ job.job_type }}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='index/js/vendor/modernizr-3.5.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='index/js/vendor/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='index/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='index/js/main.js') }}"></script>

</body>

</html>
